<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      
      
    </div>
  </div>
</div>
<div class="bg-secondary" style="width:1350px;height:600px;"> 
<h1 class="text-white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hoşgeldiniz</h1>
&nbsp;
&nbsp;
&nbsp;
&nbsp;


&nbsp;
<h4 class="text-white">Sorular kısmından 'Sorularınıza', cevaplar kısmından 'Cevaplarınıza' ulaşabilirsiniz.</h4>
&nbsp;
<h5 class="text-white">Ya da Sorular sekmeside soruların yanından 'cevapları görüntüle' butonuna tıklayarak da cevaplara ulaşabilirsiniz.</h5>
<h5 class="text-white">Premium Üye olmak için lütfen 'nafizcan@mail.com' ile iletişime geçiniz.</h5>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="https://www.mahalligundem.com/images/haberler/2021/10/cevap-soruda-ersin-duzen-in-sunumuyla-yakinda-360-ta.jpg" alt="" style="width:600px;height:300px;">
